@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap&subset=latin-ext');
* {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}

body {
  background-color: #fff;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 2fr auto;
  grid-gap: .5em;
  grid-template-areas: "navbar navbar navbar navbar navbar navbar"
                       "main main main main header header"
                       "main main main main sidebar sidebar"
                       "footer footer footer footer footer footer";
}

.main {
  grid-area: main;
  padding: .75em;
  background-color: #EEE;
  border-radius: .25em;
  border: 2px solid black;
}

.header {
  grid-area: header;
  padding: .75em;
  background-color: #EEE;
  border-radius: .25em;
  border: 2px solid black;
}

.sidebar {
  grid-area: sidebar;
  padding: .75em;
  background-color: #EEE;
  border-radius: .25em;
  border: 2px solid black;
}

footer {
  font-family: 'Fjalla One', sans-serif;
  grid-area: footer;
  padding: 1em 5%;
  background-color: #24252A;
  align-items: center;
  color: #edf0f1;
}

nav {
  position: sticky;
  top: 0;
  background-color: #24252A;
  align-items: center;
  padding: 1em 5%;
  grid-area: navbar;
  display: grid;
  grid-template-columns: 1fr 2fr .5fr;
  grid-template-rows: auto;
  grid-template-areas: "logo content buttons";
}

li, a, button {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  grid-area: logo;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
}

.nav__links {
  grid-area: content;
  list-style: none;
  margin-left: auto;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.cta {
  grid-area: buttons;
  margin-left: auto;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "navbar navbar navbar"
                         "main main header"
                         "main main sidebar";
  }
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo"
                         "content"
                         "buttons";
  }
  .logo {
    margin: auto;
  }
  .nav__links {
    margin: auto;
  }
  .cta {
    margin: auto;
  }
}

@media (max-width: 400px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "navbar"
                         "main"
                         "header"
                         "sidebar";
  }
}
